# 允许提升依赖项到顶层，以避免重复安装相同的包
shamefully-hoist=true

# 关闭严格的对等依赖检查
strict-peer-dependencies=false

# electron 相关下载镜像配置
ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# npm 包管理器使用淘宝镜像源
registry=https://registry.npmmirror.com/

# SQLite3 二进制文件镜像
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/

# 浏览器驱动程序下载镜像
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/

# Mac OS 的 fsevents 模块镜像
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/